.main > h1 {
  padding-bottom: 0.5rem;
}

.main > h2 {
  padding-top: inherit;
}

.munin-example-graph {
  float: right;
  height: 250px;
  margin: 1rem;
  clear: right;
}

.munin-plugin-overview {
  float: right;
}

.munin-plugin-overview dt::after {
  content: ":";
}

.munin-plugin-overview dl {
  display: grid;
  grid-template-columns: max-content auto;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  padding: 1rem;
}

.munin-plugin-overview dt {
  grid-column-start: 1;
  padding-right: 5px;
  text-align: right;
}

.munin-plugin-overview dd {
  grid-column-start: 2;
}

.munin-plugin-overview dd ul{
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 0;
}

.munin-plugin-overview dd li{
  list-style-type: none;
}
