{{ define "main" }}
  {{/* display the list of pages related to a term (e.g. all bash scripts) */}}
  {{ $data := .Data }}
  <article class="cf pa3 pa4-m pa4-l">
    {{ if .Content }}
      <div class="measure-wide-l center f4 lh-copy nested-copy-line-height nested-links nested-img mid-gray">
        {{ .Content }}
      </div>
    {{ else }}
      <h1>{{ .Section | humanize | title | singularize }}: {{ .Title }}</h1>
    {{ end }}
  </article>
  <div class="mw8 center">
    <section class="ph4">
      The following plugins ({{ (.Paginate .Pages).TotalPages }}) belong to the {{ .Section | humanize | singularize | title }} <i>{{ .Title }}</i>.
      <div class="row row-cols-1 row-cols-md-3">
        {{ range .Pages.ByTitle }}
          <div class="col mb-4">
            {{- partial "plugin-summary.html" . -}}
          </div>
        {{ end }}
      </div>
    </section>
  </div>
{{ end }}
