{{ define "main" }}
  {{/* display the list of terms for a given taxonomy (e.g. all graph categories) */}}
  {{ $data := .Data }}
  <article class="cf pa3 pa4-m pa4-l">
    <div class="measure-wide-l center f4 lh-copy nested-copy-line-height nested-links nested-img mid-gray">
      {{ .Content }}
    </div>
    {{ if .Params.url_doc }}
      <p>Documentation: <a href="{{ .Params.url_doc }}">{{ .Data.Plural | humanize }}</a></p>
    {{ end }}
  </article>
  <div class="mw8 center">
    <section class="ph4">
      {{- $taxonomy_name := $.Data.Plural | urlize -}}
      <h1>{{ .Data.Plural | humanize }}</h1>
      <ul>
        {{ range $key, $value := .Data.Terms }}
          {{- $page := (default (index (index $.Site.Taxonomies $taxonomy_name) (anchorize $key)) (index (index $.Site.Taxonomies $taxonomy_name) (urlize $key))).Page -}}
          <li><a href="{{ $page.RelPermalink }}" class="link blue hover-black">{{ $page.Title }}</a> ({{ $value.Count }})</li>
        {{ end }}
      </ul>
    </section>
  </div>
{{ end }}
