<div class="card text-center">
  {{- $repository_term := index $.Site.Taxonomies.repositories (index .Params.repositories 0) -}}
  {{- $repository_title := $repository_term.Page.Title }}
  {{- $repository_color := $repository_term.Page.Params.repository_color }}
  {{- $change_date := dateFormat "2006-01-02" .Date }}
  <div class="card-header" style="background-color:{{ $repository_color }}">{{ $repository_title }}</div>
  <div class="card-body">
    <h5 class="card-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h5>
    <p>{{ $change_date }}</p>
    <p class="card-text">
      {{ .Params.Summary | default .Summary | truncate 100 }}
    </p>
  </div>
</div>
